<%- include('../partials/head') %>

<h1>Create a new account!</h1>
<form action="/auth/sign-up" method="POST" class="container">

<label for="">Username: </label>
<input for="" name="username" >

<label for="" >Password: </label>
<input for="" name="password" type="password">


<label for="" >Confirm Password: </label>
<input for="" name="confirmPassword" type="password">

<button type="submit">Submit</button>

<p> <%= msg %> </p>
</form>
<%- include('../partials/footer') %>